.mybut:hover {
    -fx-font-weight: bold;
    -fx-text-fill: green;
    -fx-cursor: hand;
}

.pauseButton{
    -fx-opacity: 0.3;
}

.pauseButtonActive {
    -fx-opacity: 1;
}

.pauseButtonActive:hover {
    -fx-effect: dropshadow(three-pass-box, #888, 8, 0, 0, 0);
}

.pauseButtonActive:pressed {
    -fx-effect: innershadow(gaussian, #777, 20, 0, 0, 0);
}

.columnInt {
    -fx-alignment: CENTER;
}

.columnString {
    -fx-padding: 0 0 0 10;
}